body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  small {
    color: gray;
  }
  
  h1 {
    color: #343a40;
    text-align: center;
    padding: 20px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0 30%;
    margin-top: 30px;
  }
  
  ul li {
    background-color: #fff;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    padding: 20px;
  }
  
  ul li h2 {
    margin: 0 0 10px 0;
    color: #495057;
  }
  
  ul li p {
    color: #212529;
    margin: 0;
  }
  
  .button-container {
    text-align: center;
  }
  
  .post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
  }


  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
  }
  
  .form-input {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-input input,
  .form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .link-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  
  .link-edit-delete-button {
    display: inline-block;
    background-color: #fff; /* ボタンの色を白に設定 */
    font-size: 17px;
    color: #000; /* テキストの色を黒に設定 */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #000; /* 外枠の色を黒に設定 */
    cursor: pointer;
  }
  
  .current-image {
    max-width: 100%;
    height: auto;
  }


  .edit-delete-wrapper {
    display: flex;
    margin-top: 10px;
  }
